openapi: 3.0.0
info:
  version: 1.0.0
  title: TimeTrack API - Chronology
  description: This is a specification for time tracking API
  license:
    name: Visidra
  contact:
    name: Dragan
    url: http://www.visidra.com
    email: dragan@visidra.com
servers:
  - url: https://timetracker.visidra.com/api/v2
    description: Production server
  - url: https://timetracker-stg.visidra.com/api/v2
    description: Staging environment
tags:
  - name: Account
  - name: User
  - name: Task
  - name: TimeTrack
  - name: Organisation
  - name: Invitation
paths:
  /login:
    post:
      summary: User Login
      operationId: loginUser
      description: Logs in a user and returns an authentication token (JWT).
      tags:
        - Account
      requestBody:
        $ref: '#/components/requestBodies/login'
      responses:
        '200':
          $ref: '#/components/responses/login-success'
        '400':
          $ref: '#/components/responses/login-failure'
        '401':
          $ref: '#/components/responses/login-failure'
  /signup:
    post:
      summary: Signup a new user and organisation
      operationId: signupUser
      tags:
        - Account
      requestBody:
        $ref: '#/components/requestBodies/signup-request'
      responses:
        '201':
          $ref: '#/components/responses/signup-response'
        '400':
          description: Bad request (e.g., invalid input)
        '409':
          description: Conflict (e.g., email or organization already exists)
  /user:
    get:
      summary: Get all Users
      operationId: getUsers
      description: Retrieves all users.
      tags:
        - User
      responses:
        '200':
          $ref: '#/components/responses/user-list'
    post:
      summary: Create a new User
      operationId: createUser
      description: Creates a new user entry.
      tags:
        - User
      requestBody:
        $ref: '#/components/requestBodies/user-create'
      responses:
        '201':
          $ref: '#/components/responses/user-created'
        '400':
          description: Invalid input
  /user/{id}:
    get:
      summary: Get User by ID
      operationId: getUser
      description: Retrieves a user by their ID.
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/user-id'
      responses:
        '200':
          $ref: '#/components/responses/user'
        '404':
          description: User not found
    put:
      summary: Update a User by ID
      operationId: updateUser
      description: Updates a user's details.
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/user-id'
      requestBody:
        $ref: '#/components/requestBodies/user-update'
      responses:
        '200':
          $ref: '#/components/responses/user-updated'
        '400':
          description: Invalid input
        '404':
          description: User not found
    delete:
      summary: Delete a User by ID
      operationId: deleteUser
      description: Deletes a user by their ID.
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/user-id'
      responses:
        '204':
          description: User deleted
        '404':
          description: User not found
  /users/{id}/password:
    put:
      tags:
        - User
      summary: Update user password
      description: Allows a user to update their own password.
      operationId: updateUserPassword
      parameters:
        - $ref: '#/components/parameters/user-id'
      requestBody:
        $ref: '#/components/requestBodies/user-update-password'
      responses:
        '200':
          $ref: '#/components/responses/user-password-updated'
        '400':
          $ref: '#/components/responses/bad-request'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/server-error'
  /users/{id}/password/reset:
    put:
      summary: Reset user password by admin
      description: Allows an admin to reset a user's password.
      tags:
        - User
      operationId: resetUserPasswordByAdmin
      parameters:
        - $ref: '#/components/parameters/user-id'
      requestBody:
        $ref: '#/components/requestBodies/user-reset-password'
      responses:
        '200':
          $ref: '#/components/responses/password-reset-success'
        '400':
          $ref: '#/components/responses/bad-request'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/server-error'
  /task:
    post:
      summary: Create a new Task
      operationId: createTask
      description: Creates a new task entry.
      tags:
        - Task
      requestBody:
        $ref: '#/components/requestBodies/task-create'
      responses:
        '201':
          $ref: '#/components/responses/task-created'
        '400':
          description: Invalid input
    get:
      summary: Get all Tasks
      operationId: getTasks
      description: Retrieves all tasks.
      tags:
        - Task
      responses:
        '200':
          $ref: '#/components/responses/task-list'
  /task/{id}:
    get:
      summary: Get Task by ID
      operationId: getTask
      description: Retrieves a task by its ID.
      tags:
        - Task
      parameters:
        - $ref: '#/components/parameters/task-id'
      responses:
        '200':
          $ref: '#/components/responses/task'
        '404':
          description: Task not found
    put:
      summary: Update a Task by ID
      operationId: updateTask
      description: Updates a task's details.
      tags:
        - Task
      parameters:
        - $ref: '#/components/parameters/task-id'
      requestBody:
        $ref: '#/components/requestBodies/task-update'
      responses:
        '200':
          $ref: '#/components/responses/task-updated'
        '400':
          description: Invalid input
        '404':
          description: Task not found
    delete:
      summary: Delete a Task by ID
      operationId: deleteTask
      description: Deletes a task by its ID.
      tags:
        - Task
      parameters:
        - $ref: '#/components/parameters/task-id'
      responses:
        '204':
          description: Task deleted
        '404':
          description: Task not found
  /timetrack:
    post:
      summary: Create a new TimeTrack
      operationId: createTimeTrack
      description: Creates a new time tracking entry.
      tags:
        - TimeTrack
      requestBody:
        $ref: '#/components/requestBodies/timetrack-create'
      responses:
        '201':
          $ref: '#/components/responses/timetrack-created'
        '400':
          description: Invalid input
    get:
      summary: Get all TimeTracks
      operationId: getTracks
      tags:
        - TimeTrack
      responses:
        '200':
          $ref: '#/components/responses/timetrack-list'
  /timetrack/{id}:
    get:
      summary: Get a TimeTrack by ID
      operationId: getTimeTrack
      tags:
        - TimeTrack
      parameters:
        - $ref: '#/components/parameters/timetrack-id'
      responses:
        '200':
          $ref: '#/components/responses/timetrack-get'
        '404':
          description: TimeTrack not found
    delete:
      summary: Delete a TimeTrack by ID
      operationId: deleteTimeTrack
      tags:
        - TimeTrack
      parameters:
        - $ref: '#/components/parameters/timetrack-id'
      responses:
        '204':
          description: Successfully deleted
        '404':
          description: TimeTrack not found
  /timetrack/clockin/{id}:
    get:
      summary: Clock in using a task ID
      tags:
        - TimeTrack
      parameters:
        - $ref: '#/components/parameters/timetrack-id'
      responses:
        '200':
          $ref: '#/components/responses/timetrack-clockin-response'
  /timetrack/clockout/{id}:
    get:
      summary: Clock out using a task ID
      tags:
        - TimeTrack
      parameters:
        - $ref: '#/components/parameters/timetrack-id'
      responses:
        '200':
          $ref: '#/components/responses/timetrack-clockout-response'
  /timetrack/clockin/name/{name}:
    post:
      summary: Clock in using task name
      tags:
        - TimeTrack
      parameters:
        - $ref: '#/components/parameters/task-name'
      responses:
        '200':
          $ref: '#/components/responses/timetrack-clockin-name-response'
  /timetrack/clockin/referenceid/{referenceid}:
    post:
      summary: Clock in using reference ID
      tags:
        - TimeTrack
      parameters:
        - $ref: '#/components/parameters/task-referenceid'
      responses:
        '200':
          $ref: '#/components/responses/timetrack-clockin-referenceid-response'
  /invitation:
    post:
      summary: Create a new invitation for user signup
      operationId: createInvitation
      tags:
        - Invitation
      requestBody:
        $ref: '#/components/requestBodies/invitation-create'
      responses:
        '201':
          $ref: '#/components/responses/invitation-created'
        '400':
          $ref: '#/components/responses/bad-request'
        '500':
          $ref: '#/components/responses/server-error'
  /invitation/{id}:
    get:
      summary: Get an invitation by ID
      operationId: getInvitation
      tags:
        - Invitation
      parameters:
        - $ref: '#/components/parameters/invitation-id'
      responses:
        '200':
          description: Invitation found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitation-get'
        '404':
          description: Invitation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-error'
  /invitation/{id}/signup:
    get:
      summary: Signup a user using an invitation
      operationId: signupInvitation
      tags:
        - Invitation
      parameters:
        - $ref: '#/components/parameters/invitation-id'
      responses:
        '200':
          description: User successfully signed up
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/signup-success'
        '400':
          description: Invalid data or missing information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad-request'
        '404':
          description: Invitation not found or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/not-found'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server-error'
  /org:
    post:
      summary: Create a new Organisation
      operationId: createOrganisation
      description: Creates a new organisation.
      tags:
        - Organisation
      requestBody:
        $ref: '#/components/requestBodies/org-create'
      responses:
        '201':
          $ref: '#/components/responses/org-created'
        '400':
          description: Invalid input
  /org/{id}:
    get:
      summary: Get Organisation by ID
      operationId: getOrganisation
      description: Retrieves an organisation by its ID.
      tags:
        - Organisation
      parameters:
        - $ref: '#/components/parameters/org-id'
      responses:
        '200':
          $ref: '#/components/responses/org'
        '404':
          description: Organisation not found
    put:
      summary: Update Organisation by ID
      operationId: updateOrganisation
      description: Updates an organisation's details.
      tags:
        - Organisation
      parameters:
        - $ref: '#/components/parameters/org-id'
      requestBody:
        $ref: '#/components/requestBodies/org-update'
      responses:
        '200':
          $ref: '#/components/responses/org-updated'
        '400':
          description: Invalid input
        '404':
          description: Organisation not found
    delete:
      summary: Delete Organisation by ID
      operationId: deleteOrganisation
      description: Deletes an organisation by its ID.
      tags:
        - Organisation
      parameters:
        - $ref: '#/components/parameters/org-id'
      responses:
        '204':
          description: Organisation deleted
        '404':
          description: Organisation not found
components:
  parameters:
    user-id:
      name: id
      in: path
      required: true
      description: The ID of the user
      schema:
        type: string
    task-id:
      name: id
      in: path
      required: true
      description: The ID of the task
      schema:
        type: string
    timetrack-id:
      name: id
      in: path
      required: true
      description: The ID of the TimeTrack
      schema:
        type: string
    task-name:
      name: name
      in: path
      required: true
      description: Name of the task to clock in
      schema:
        type: string
        example: Write API Documentation
    task-referenceid:
      name: referenceid
      in: path
      required: true
      description: The reference ID of the task to clock into
      schema:
        type: string
        example: JIRA-492
    invitation-id:
      name: id
      in: path
      required: true
      description: The unique ID of the invitation
      schema:
        type: string
        example: '12345'
    org-id:
      name: id
      in: path
      required: true
      description: The ID of the organisation
      schema:
        type: string
    userId:
      name: userId
      in: path
      required: true
      description: The id of the User to retrieve
      schema:
        type: integer
    limit:
      name: limit
      in: query
      description: How many items to return at one time (max 100)
      required: false
      schema:
        type: integer
        format: int32
    offset:
      name: offset
      in: query
      description: Defines the offset and its used in conjuction with limit query parameter
      required: false
      schema:
        type: integer
        format: int32
  schemas:
    login:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: user@visidra.com
        password:
          type: string
          format: password
          example: password123
    User:
      type: object
      properties:
        id:
          type: string
          example: user-123
        first:
          type: string
        last:
          type: string
        email:
          type: string
          format: email
          example: john.doe@example.com
        createdAt:
          type: string
          format: date-time
          example: '2025-04-22T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          example: '2025-04-22T10:00:00Z'
    org:
      type: object
      properties:
        id:
          type: string
          example: org-123
        name:
          type: string
          example: Visidra
        decription:
          type: string
        createdAt:
          type: string
          format: date-time
          example: '2025-04-22T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          example: '2025-04-22T10:00:00Z'
    user:
      type: object
      properties:
        id:
          type: string
          example: user-123
        first:
          type: string
        last:
          type: string
        email:
          type: string
          format: email
          example: john.doe@example.com
        createdAt:
          type: string
          format: date-time
          example: '2025-04-22T10:00:00Z'
        updatedAt:
          type: string
          format: date-time
          example: '2025-04-22T10:00:00Z'
    user-create:
      type: object
      required:
        - username
        - email
        - password
      properties:
        username:
          type: string
          example: john_doe
        email:
          type: string
          format: email
          example: john.doe@example.com
        password:
          type: string
          example: strongpassword123
    user-update:
      type: object
      properties:
        username:
          type: string
          example: john_doe_updated
        email:
          type: string
          format: email
          example: john.doe.updated@example.com
        password:
          type: string
          example: newstrongpassword123
    user-update-password:
      type: object
      required:
        - password
      properties:
        password:
          type: string
          format: password
          minLength: 12
          description: The new password the user wants to set.
    task:
      type: object
      properties:
        id:
          type: string
          example: task-123
        name:
          type: string
          example: Design Homepage
        description:
          type: string
          example: Create a new homepage design
        dueDate:
          type: string
          format: date-time
          example: '2025-05-01T10:00:00Z'
        createdAt:
          type: string
          format: date-time
          example: '2025-04-22T09:00:00Z'
        updatedAt:
          type: string
          format: date-time
          example: '2025-04-22T09:00:00Z'
    task-create:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          example: Design Homepage
        description:
          type: string
          example: Create a new homepage design
        dueDate:
          type: string
          format: date-time
          example: '2025-05-01T10:00:00Z'
    task-update:
      type: object
      properties:
        name:
          type: string
          example: Updated Task Name
        description:
          type: string
          example: Updated description for the task
        dueDate:
          type: string
          format: date-time
          example: '2025-06-01T10:00:00Z'
    timetrack:
      type: object
      properties:
        id:
          type: string
          example: abc123
        taskId:
          type: string
          example: task789
        userId:
          type: string
          example: user456
        startTime:
          type: string
          format: date-time
          example: '2025-04-22T14:00:00Z'
        endTime:
          type: string
          format: date-time
          example: '2025-04-22T15:30:00Z'
        createdAt:
          type: string
          format: date-time
          example: '2025-04-22T14:00:00Z'
        updatedAt:
          type: string
          format: date-time
          example: '2025-04-22T15:35:00Z'
      required:
        - id
        - taskId
        - userId
        - startTime
    invitation-get:
      type: object
      properties:
        id:
          type: string
          description: The ID of the invitation
          example: '12345'
        email:
          type: string
          format: email
          description: The email of the invited user
          example: user@example.com
        expiresAt:
          type: string
          format: date-time
          description: The date and time when the invitation expires
          example: '2025-04-23T10:00:00Z'
    not-found:
      type: object
      properties:
        message:
          type: string
          description: Error message
          example: Item not found
    server-error:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something went wrong
    signup-success:
      type: object
      properties:
        message:
          type: string
          description: Success message
          example: User successfully signed up
        signupLink:
          type: string
          description: Signup link that can be clicked only once
          example: https://app.timetrack.com/invitation/invite:0001-0001-00001/signup
        temporaryPassword:
          type: string
          description: A temporary password provided to the user that must be updated during the first login for security purposes.
          example: p4sw0rd_qw3rty
        expiresAt:
          type: string
          format: date-time
          description: The date and time when the invitation expires
          example: '2025-04-23T10:00:00Z'
    bad-request:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Invalid request data
    org-create:
      type: object
      required:
        - name
        - email
      properties:
        name:
          type: string
          example: Visidra
        email:
          type: string
          format: email
          example: contact@visidra.com
        address:
          type: string
          example: 123 Business St, Tech City
        phoneNumber:
          type: string
          example: '+1234567890'
    org-update:
      type: object
      properties:
        name:
          type: string
          example: Visidra Updated
        email:
          type: string
          format: email
          example: contact.updated@visidra.com
        description:
          type: string
          example: 456 New Address Rd, Tech City
    error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          example: An unexpected error occurred
        code:
          type: integer
          example: 500
        details:
          type: string
          example: Stack trace or additional context if available
    Error:
      $ref: '#/components/schemas/error'
  responses:
    login-success:
      description: Successfully logged in and returned a JWT token
      content:
        application/json:
          schema:
            type: object
            properties:
              token:
                type: string
                example: your.jwt.token.here
    login-failure:
      description: Failed login attempt due to invalid credentials
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Invalid email or password.
    signup-response:
      description: Successfully registered user and organization
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: User and organization registered successfully
              user:
                $ref: '#/components/schemas/User'
              organization:
                $ref: '#/components/schemas/org'
    user-list:
      description: List of all Users
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/user'
    user-created:
      description: Successfully created User
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/user'
    user:
      description: A single User object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/user'
    user-updated:
      description: Successfully updated User
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/user'
    user-password-updated:
      description: Password updated successfully
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Password updated successfully
    bad-request:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Invalid request data
    forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Unauthorized to for this operation
    server-error:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Something went wrong
    password-reset-success:
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Password expiration updated successfully.
    task-list:
      description: List of all Tasks
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/task'
    task-created:
      description: Successfully created Task
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/task'
    task:
      description: A single Task object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/task'
    task-updated:
      description: Successfully updated Task
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/task'
    timetrack-list:
      description: A list of TimeTrack entries
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/timetrack'
    timetrack-created:
      description: Successfully created TimeTrack
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/timetrack'
    timetrack-get:
      description: Successfully fetched TimeTrack
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/timetrack'
    timetrack-clockin-response:
      description: Successfully clocked in
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/timetrack'
    timetrack-clockout-response:
      description: Successfully clocked out
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/timetrack'
    timetrack-clockin-name-response:
      description: Successfully clocked in using task name
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/timetrack'
    timetrack-clockin-referenceid-response:
      description: Successfully clocked in using reference ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/timetrack'
    invitation-created:
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Invitation created successfully.
              invitationId:
                type: uuid
                example: abc123
    org-created:
      description: Successfully created Organisation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/org'
    org:
      description: A single Organisation object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/org'
    org-updated:
      description: Successfully updated Organisation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/org'
    not-found:
      type: object
      properties:
        message:
          type: string
          description: Error message
          example: Item not found
    ServerError:
      $ref: '#/components/responses/server-error'
    NotFound:
      $ref: '#/components/responses/not-found'
  requestBodies:
    login:
      description: Login credentials (email and password)
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/login'
    signup-request:
      type: object
      properties:
        email:
          type: string
          format: email
          description: The email of the user to register
        password:
          type: string
          description: The password of the user to register
        organizationName:
          type: string
          description: The name of the organization the user belongs to
      required:
        - email
        - password
        - organizationName
    user-create:
      description: User object that needs to be created
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/user-create'
    user-update:
      description: User object that needs to be updated
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/user-update'
    user-update-password:
      description: Object that updates password
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/user-update-password'
    user-reset-password:
      content:
        application/json:
          schema:
            type: object
            required:
              - expiresAt
            properties:
              expiresAt:
                type: string
                format: date-time
                description: The new expiration date for the user's password.
                example: '2025-04-30T00:00:00Z'
    task-create:
      description: Task object that needs to be created
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/task-create'
    task-update:
      description: Task object that needs to be updated
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/task-update'
    timetrack-create:
      description: Create a new TimeTrack entry
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              taskId:
                type: string
              startTime:
                type: string
                format: date-time
              endTime:
                type: string
                format: date-time
    invitation-create:
      description: Invitation object that needs to be created
      content:
        application/json:
          schema:
            type: object
            required:
              - email
            properties:
              email:
                type: string
                format: email
                description: The email of the user being invited.
                example: user@example.com
    org-create:
      description: Organisation object that needs to be created
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/org-create'
    org-update:
      description: Organisation object that needs to be updated
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/org-update'
