openapi: 3.0.0
info:
  version: 1.0.0
  title: TimeTracks API
  description: |
    TimeTrack API is a headless solution for versatile time tracking
  license:
    name: visidra.com
  contact:
    name: Dragan Dimitrijevic
    url: http://www.visidra.com
    email: dragan@visidra.com
  x-logo:
    url: https://timetracks.visidra.com/api/logo.png
    altText: TimeTracks logo
servers:
  - url: https://timetracks-api.visidra.com/api/v1
    description: Production server
tags:
  - name: Account
    description: |
      Endpoints related to user authentication and account management, including signup, login, token refresh, and invitation-based registration.
  - name: Organisation
    description: |
      Endpoints for creating and managing organisations, including access to organisation details, user membership, and administrative actions.
  - name: User
    description: |
      Endpoints for managing user accounts within an organisation, including listing users, updating user details, and resetting passwords.
  - name: Project
    description: |
      Endpoints for creating and managing projects, which group related tasks and time tracking entries under a shared context.
  - name: Task
    description: |
      Endpoints for managing individual tasks, including creation, time tracking, project assignment, and status management.
  - name: TimeTrack
    description: |
      Endpoints for recording and retrieving time tracking entries for tasks, including clock-in, clock-out, and duration reporting.
  - name: Invitation
    description: |
      Endpoints for managing user invitations, including creating signup links and handling one-time invitation-based account registration. (Optional: may be grouped under Account)
  - name: Report
    description: |
      Endpoints intended for internal use only. Access is restricted to super users with elevated permissions. These operations are not available to regular organisation members.
  - name: Overview
    description: |
      Overview endpoints provide high-level aggregated data across users, tasks, or projects. Intended for internal dashboards or analytics tools. Access is restricted to super users with elevated permissions. Regular organisation members are not authorized to query these endpoints.
  - name: Metrics
    description: |
      These endpoints return the total time tracked by all users in an organization for a specific time window — day, week, or month. Intended for internal reporting and performance dashboards, they provide high-level insight into organizational activity. Only administrators are authorized to access these endpoints.
paths:
  /signup:
    post:
      summary: Signup a new user and organisation
      operationId: signupUser
      tags:
        - Account
      requestBody:
        $ref: '#/components/requestBodies/signup-request'
      responses:
        '201':
          $ref: '#/components/responses/signup-201'
        '400':
          $ref: '#/components/responses/signup-400'
        '409':
          $ref: '#/components/responses/signup-409'
  /login:
    post:
      summary: Login with email and password
      description: |
        Authenticates the user using their email and password credentials. Returns a long-lived access token (valid for 1 day) and a refresh token (valid for 7 days) to enable continuous access without requiring frequent re-authentication. This flow is suitable for interactive user sessions such as web or mobile clients.
      operationId: loginUser
      tags:
        - Account
      requestBody:
        $ref: '#/components/requestBodies/login'
      responses:
        '200':
          $ref: '#/components/responses/login-200'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /long/refresh:
    post:
      summary: Rotate long-lived refresh token
      description: |
        Exchanges a valid refresh token for a new access token and refresh token pair. The access token is valid for 1 day, and the refresh token expires 7 days after the session start time. To maintain continuous access, clients must call this endpoint before the refresh token expires.
      operationId: refreshLongSession
      tags:
        - Account
      requestBody:
        $ref: '#/components/requestBodies/refresh'
      responses:
        '200':
          $ref: '#/components/responses/refresh-200'
        '401':
          $ref: '#/components/responses/refresh-401'
  /api-key/login:
    post:
      summary: Login with API key
      description: Logs in a user and returns a short-lived JWT along with a refresh token. Intended for programmatic access such as CLI tools, scripts, or temporary sessions requiring frequent token rotation.
      operationId: tokenLogin
      tags:
        - Account
      requestBody:
        required: true
        $ref: '#/components/requestBodies/api-key-login'
      responses:
        '200':
          $ref: '#/components/responses/login-200'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /short/refresh:
    post:
      summary: Rotate short-term refresh token
      description: |
        Exchanges a short-lived refresh token for a new access token and refresh token pair. The access token is valid for 15 minutes, while the refresh token remains valid for 1 day from the session start time. This flow is optimized for automated scripts or background jobs that require frequent token renewal and short-lived access, with security in mind.
      operationId: refreshShortSession
      tags:
        - Account
      requestBody:
        $ref: '#/components/requestBodies/refresh'
      responses:
        '200':
          $ref: '#/components/responses/refresh-200'
        '401':
          $ref: '#/components/responses/refresh-401'
  /sessions:
    get:
      summary: List all active sessions for the organisation
      description: |
        Retrieves all active sessions (access and refresh tokens) created by users within the authenticated organisation. This endpoint is typically used by administrators to monitor or audit user sessions across the entire team. Requires a valid access token with administrative privileges.
      operationId: getOrgSessions
      security:
        - bearerAuth: []
      tags:
        - Account
      responses:
        '200':
          $ref: '#/components/responses/session-list'
        '401':
          $ref: '#/components/responses/session-401'
  /api-keys:
    get:
      summary: List all API keys for organisations
      description: Retrieves all API keys owned by organisation
      operationId: getOrgApiKeys
      security:
        - bearerAuth: []
      tags:
        - Account
      responses:
        '200':
          $ref: '#/components/responses/api-key-list'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /users:
    get:
      summary: Get all users
      operationId: getUsers
      description: Retrieves all users under your organisation
      security:
        - bearerAuth: []
      tags:
        - User
      responses:
        '200':
          $ref: '#/components/responses/user-list'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /users/count:
    get:
      summary: Get user count
      description: Returns the total number of users in your organisation.
      operationId: getUserCount
      security:
        - bearerAuth: []
      tags:
        - User
      responses:
        '200':
          $ref: '#/components/responses/user-count'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /user:
    post:
      summary: Create a new user
      operationId: createUser
      description: Creates a new user entry
      security:
        - bearerAuth: []
      tags:
        - User
      requestBody:
        $ref: '#/components/requestBodies/user-create'
      responses:
        '201':
          $ref: '#/components/responses/user-created'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /user/{userId}:
    get:
      summary: Get user by ID
      operationId: getUserById
      description: Retrieves a user by their ID.
      security:
        - bearerAuth: []
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/user-id'
      responses:
        '200':
          $ref: '#/components/responses/user-200'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
    put:
      summary: Update a user by ID
      operationId: updateUser
      description: Updates a user's details.
      security:
        - bearerAuth: []
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/user-id'
      requestBody:
        $ref: '#/components/requestBodies/user-update'
      responses:
        '200':
          $ref: '#/components/responses/user-updated'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
    delete:
      summary: Delete a user by ID
      operationId: deleteUser
      description: Deletes a user by their ID.
      security:
        - bearerAuth: []
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/user-id'
      responses:
        '204':
          $ref: '#/components/responses/item-deleted'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /user/{userId}/password:
    put:
      summary: Update user password
      description: Allows a user to update their own password.
      operationId: updateUserPassword
      tags:
        - User
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/user-id'
      requestBody:
        $ref: '#/components/requestBodies/user-update-password'
      responses:
        '200':
          $ref: '#/components/responses/user-password-updated'
        '400':
          $ref: '#/components/responses/signup-400'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/server-error'
  /user/{userId}/password/reset:
    put:
      summary: Reset user password by admin
      description: Allows an admin to reset a user's password.
      operationId: resetUserPassword
      security:
        - bearerAuth: []
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/user-id'
      requestBody:
        $ref: '#/components/requestBodies/user-reset-password'
      responses:
        '200':
          $ref: '#/components/responses/password-reset-success'
        '400':
          $ref: '#/components/responses/bad-request'
        '403':
          $ref: '#/components/responses/forbidden'
        '500':
          $ref: '#/components/responses/server-error'
  /user/api-keys:
    get:
      summary: Get all API keys for user
      description: Retrieves all API keys owned by user
      operationId: getAllApiKeys
      security:
        - bearerAuth: []
      tags:
        - User
      responses:
        '200':
          $ref: '#/components/responses/api-key-list'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /user/api-key:
    post:
      summary: Create a new API key
      description: |
        Generates a new API key for the authenticated user. The plain-text key is returned once in the response and must be stored securely. The response also includes metadata about the key for future reference.
      operationId: createUserApiKey
      security:
        - bearerAuth: []
      tags:
        - User
      requestBody:
        $ref: '#/components/requestBodies/api-key-create'
      responses:
        '201':
          $ref: '#/components/responses/api-key-created'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /user/api-key/{apiKeyId}:
    get:
      summary: Get API key by ID
      description: |
        Retrieves metadata for a specific API key, including its name, creation time, last usage timestamp, and masked identifier (last 4 characters).i The actual secret value of the API key is not returned for security reasons.
      operationId: getUserApiKey
      security:
        - bearerAuth: []
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/api-key-id'
      responses:
        '200':
          $ref: '#/components/responses/api-key'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
    put:
      summary: Rotate (renew) an API key
      description: |
        Invalidates the existing API key and generates a new one. The original key is permanently deleted, and a new key is returned in the response. The new key must be stored securely, as it will not be shown again. Useful when rotating credentials for security or automation purposes.
      operationId: renewApiKey
      security:
        - bearerAuth: []
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/api-key-id'
      responses:
        '200':
          $ref: '#/components/responses/api-key-renewed'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
    delete:
      summary: Delete a API key by ID
      description: |
        Permanently deletes an API key identified by its ID. This action revokes access for any client using the key. Once deleted, the key cannot be recovered.
      operationId: deleteApiKey
      security:
        - bearerAuth: []
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/api-key-id'
      responses:
        '204':
          $ref: '#/components/responses/item-deleted'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /tasks:
    get:
      summary: Get all tasks
      description: Retrieves all tasks
      operationId: getTasks
      security:
        - bearerAuth: []
      tags:
        - Task
      responses:
        '200':
          $ref: '#/components/responses/task-list'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /tasks/count:
    get:
      summary: Get task count
      description: Returns the total number of tasks in your organisation.
      operationId: getTaskCount
      security:
        - bearerAuth: []
      tags:
        - Task
      responses:
        '200':
          $ref: '#/components/responses/task-count'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /task:
    post:
      summary: Create a new task
      operationId: createTask
      description: Creates a new task entry.
      security:
        - bearerAuth: []
      tags:
        - Task
      requestBody:
        $ref: '#/components/requestBodies/task-create'
      responses:
        '201':
          $ref: '#/components/responses/task-created'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /task/{taskId}:
    get:
      summary: Get task by ID
      description: Retrieves a task by its ID.
      operationId: getTask
      security:
        - bearerAuth: []
      tags:
        - Task
      parameters:
        - $ref: '#/components/parameters/task-id'
      responses:
        '200':
          $ref: '#/components/responses/task'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
    put:
      summary: Update a task by ID
      description: Updates a task's details
      operationId: updateTask
      security:
        - bearerAuth: []
      tags:
        - Task
      parameters:
        - $ref: '#/components/parameters/task-id'
      requestBody:
        $ref: '#/components/requestBodies/task-update'
      responses:
        '200':
          $ref: '#/components/responses/task-updated'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
    delete:
      summary: Delete a task by ID
      description: Deletes a task by its ID.
      operationId: deleteTask
      security:
        - bearerAuth: []
      tags:
        - Task
      parameters:
        - $ref: '#/components/parameters/task-id'
      responses:
        '204':
          $ref: '#/components/responses/item-deleted'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /users/overview:
    get:
      summary: Get an overview of users
      description: Returns a high-level summary of users in the organization. Supports pagination.
      operationId: getUsersOverview
      tags:
        - Overview
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/last-key'
      responses:
        '200':
          $ref: '#/components/responses/users-overview-200'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /tasks/overview:
    get:
      summary: Get an overview of tasks
      description: Returns a high-level summary of tasks in the organization. Supports pagination.
      operationId: getTasksOverview
      tags:
        - Overview
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/last-key'
      responses:
        '200':
          $ref: '#/components/responses/tasks-overview-200'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /projects/overview:
    get:
      summary: Get an overview of projects
      description: Returns a high-level summary of projects in the organization. Supports pagination.
      operationId: getProjectsOverview
      tags:
        - Overview
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/last-key'
      responses:
        '200':
          $ref: '#/components/responses/projects-overview-200'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /projects:
    get:
      summary: Get all projects
      description: Retrieves all projects.
      operationId: getProjects
      security:
        - bearerAuth: []
      tags:
        - Project
      responses:
        '200':
          $ref: '#/components/responses/project-list'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /projects/count:
    get:
      summary: Get project count
      description: Returns the total number of projects in your organisation.
      operationId: getProjectCount
      security:
        - bearerAuth: []
      tags:
        - Project
      responses:
        '200':
          $ref: '#/components/responses/project-count'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /project:
    post:
      summary: Create a new project
      operationId: createProject
      description: Creates a new project entry.
      security:
        - bearerAuth: []
      tags:
        - Project
      requestBody:
        $ref: '#/components/requestBodies/project-create'
      responses:
        '201':
          $ref: '#/components/responses/project-created'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /project{projectId}:
    get:
      summary: Get project by ID
      description: Retrieves a project by its ID.
      operationId: getProject
      security:
        - bearerAuth: []
      tags:
        - Project
      parameters:
        - $ref: '#/components/parameters/project-id'
      responses:
        '200':
          $ref: '#/components/responses/project'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
    put:
      summary: Update a project
      description: Updates a project's details.
      operationId: updateProject
      security:
        - bearerAuth: []
      tags:
        - Project
      parameters:
        - $ref: '#/components/parameters/project-id'
      requestBody:
        $ref: '#/components/requestBodies/project-update'
      responses:
        '200':
          $ref: '#/components/responses/project-updated'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
    delete:
      summary: Delete a project
      description: Deletes a project by its ID
      operationId: deleteProject
      security:
        - bearerAuth: []
      tags:
        - Project
      parameters:
        - $ref: '#/components/parameters/project-id'
      responses:
        '204':
          $ref: '#/components/responses/item-deleted'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /project{projectId}/tasks:
    get:
      summary: Get all tasks by project ID
      description: Retrieve all tasks associated with a specific project.
      operationId: getProjectTasks
      security:
        - bearerAuth: []
      tags:
        - Project
      parameters:
        - $ref: '#/components/parameters/project-id'
      responses:
        '200':
          $ref: '#/components/responses/task-list'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /project{projectId}/task:
    post:
      summary: Create a new task to a specific project.
      description: Adds a new task and assigns it to the specified project by project ID.
      operationId: addTaskToProject
      security:
        - bearerAuth: []
      tags:
        - Project
      parameters:
        - $ref: '#/components/parameters/project-id'
      requestBody:
        $ref: '#/components/requestBodies/task-create'
      responses:
        '201':
          $ref: '#/components/responses/task-created'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /project/{projectId}/task/{taskId}/move:
    post:
      summary: Move a task to another project
      description: |
        Updates the task's project association by assigning it to a different project.
        This operation is useful for reorganizing tasks across projects without modifying the task content.
      operationId: moveTaskToProject
      security:
        - bearerAuth: []
      tags:
        - Project
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/task-id'
      requestBody:
        $ref: '#/components/requestBodies/project-move-task'
      responses:
        '200':
          $ref: '#/components/responses/task-updated'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /project/{projectId}/task/{taskId}:
    delete:
      summary: Remove task from project
      description: |
        Permanently deletes a task from the specified project.
        This operation cannot be undone and will remove the task and its time tracking data entirely.
      operationId: removeTaskFromProject
      security:
        - bearerAuth: []
      tags:
        - Project
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/task-id'
      responses:
        '204':
          $ref: '#/components/responses/item-deleted'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /project/{projectId}/task/{taskId}/detach:
    post:
      summary: Detach task from a project
      description: |
        Removes the association between the task and its project, but keeps the task and its data intact.
      operationId: detachTaskFromProject
      security:
        - bearerAuth: []
      tags:
        - Project
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/task-id'
      responses:
        '200':
          $ref: '#/components/responses/task-updated'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /project/{projectId}/task/{taskId}/attach:
    post:
      summary: Attach an existing task to a project
      description: |
        Associates an existing standalone task with the specified project.
        This operation updates the task's project reference without modifying other task data.
      operationId: attachTaskToProject
      security:
        - bearerAuth: []
      tags:
        - Project
      parameters:
        - $ref: '#/components/parameters/project-id'
        - $ref: '#/components/parameters/task-id'
      responses:
        '200':
          $ref: '#/components/responses/task-updated'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /metrics/time-total/day/{index}:
    get:
      tags:
        - Metrics
      summary: Get total time tracked by day
      operationId: getMetricsTimeTotalDay
      description: |
        Returns the total time tracked across the organization for a specific day, relative to today. Index `0` means today, `1` means yesterday, `2` means two days ago, etc. Requires admin-level authorization.
      parameters:
        - $ref: '#/components/parameters/metrics-index-day'
      responses:
        '200':
          $ref: '#/components/responses/metrics-time-total-day-200'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /metrics/time-total/week/{index}:
    get:
      tags:
        - Metrics
      summary: Get total time tracked for a specific week
      operationId: getMetricsTimeTotalWeek
      description: |
        Returns the total time tracked across the organization for a specific week. Index `0` means the current week, `1` means last week, `2` the week before, etc. Each week starts on Monday (ISO 8601). Requires admin-level authorization.
      parameters:
        - $ref: '#/components/parameters/metrics-index-week'
      responses:
        '200':
          $ref: '#/components/responses/metrics-time-total-week-200'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /metrics/time-total/month/{index}:
    get:
      tags:
        - Metrics
      summary: Get total time tracked for a specific month
      operationId: getMetricsTimeTotalMonth
      description: |
        Returns the total time tracked across the organization for a specific month. Index `0` refers to the current month, `1` to last month, `2` to the month before that, etc. Results are calculated based on full calendar months. Requires admin-level authorization.
      parameters:
        - $ref: '#/components/parameters/metrics-index-month'
      responses:
        '200':
          $ref: '#/components/responses/metrics-time-total-month-200'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /metrics/time-grouped/week/{index}:
    get:
      summary: Get grouped time tracked for a week (daily breakdown)
      description: |
        Returns a list of total time tracked for each day in the specified week index.
        The index is a positive number where:
          - 1 = current week
          - 2 = previous week
          - 3 = two weeks ago, etc.
      operationId: getMetricsTimeGroupedWeek
      tags:
        - Metrics
      parameters:
        - $ref: '#/components/parameters/metrics-index-week'
      responses:
        '200':
          $ref: '#/components/responses/metrics-time-grouped-week-200'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /metrics/time-grouped/month/{index}:
    get:
      tags:
        - Metrics
      summary: Get grouped time tracked for a month (daily breakdown)
      description: |
        Returns a list of total time tracked for each day in the specified month index.
        The index is a positive number where:
          - 1 = current month
          - 2 = previous month
          - 3 = two months ago, etc.
      operationId: getMetricsTimeGroupedMonth
      parameters:
        - $ref: '#/components/parameters/metrics-index-month'
      responses:
        '200':
          $ref: '#/components/responses/metrics-time-grouped-month-200'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /metrics/top-activity/day/{index}:
    get:
      summary: Get top users, tasks, and projects for a specific day
      operationId: getMetricsTopActivityDay
      tags:
        - Metrics
      parameters:
        - $ref: '#/components/parameters/metrics-index-day'
      responses:
        '200':
          $ref: '#/components/responses/metrics-top-activity-200'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /metrics/top-activity/week/{index}:
    get:
      summary: Get top users, tasks, and projects for a specific week
      operationId: getMetricsTopActivityWeek
      tags:
        - Metrics
      parameters:
        - $ref: '#/components/parameters/metrics-index-week'
      responses:
        '200':
          $ref: '#/components/responses/metrics-top-activity-200'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /metrics/top-activity/month/{index}:
    get:
      summary: Get top users, tasks, and projects for a specific month
      operationId: getMetricsTopActivityMonth
      tags:
        - Metrics
      parameters:
        - $ref: '#/components/parameters/metrics-index-week'
      responses:
        '200':
          $ref: '#/components/responses/metrics-top-activity-200'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /report/task/{taskId}:
    get:
      summary: Get task report for total tracked time
      description: |
        Retrieves a detailed time tracking report for a specific task, including total tracked time, and related time entries.
      operationId: getTaskTimeTrackReport
      security:
        - bearerAuth: []
      tags:
        - Report
      parameters:
        - $ref: '#/components/parameters/task-id'
      responses:
        '200':
          $ref: '#/components/responses/report-task-timetrack'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /report/task/{taskId}/user-breakdown:
    get:
      summary: Get task report with user breakdown
      description: |
        Retrieves a detailed time tracking report for a specific task, including total tracked time, user-by-user breakdown, and related time entries.
      operationId: getTaskUserReport
      security:
        - bearerAuth: []
      tags:
        - Report
      parameters:
        - $ref: '#/components/parameters/task-id'
      responses:
        '200':
          $ref: '#/components/responses/report-task-with-user-breakdown'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /report/project/{projectId}/user-breakdown:
    get:
      summary: Get project report with user breakdown
      description: |
        Retrieves a time tracking report for a specific project, including a breakdown of total time tracked by each user across all associated tasks.
      operationId: getProjectUserBreakdownReport
      security:
        - bearerAuth: []
      tags:
        - Report
      parameters:
        - $ref: '#/components/parameters/project-id'
      responses:
        '200':
          $ref: '#/components/responses/report-project-with-user-breakdown'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /report/project/{projectId}/task-breakdown:
    get:
      summary: Get project report with task breakdown
      description: |
        Retrieves a time tracking report for a specific project, including a breakdown of total time tracked for each task within the project. Useful for understanding how time is distributed across tasks regardless of user.
      operationId: getProjectTaskBreakdownReport
      security:
        - bearerAuth: []
      tags:
        - Report
      parameters:
        - $ref: '#/components/parameters/project-id'
      responses:
        '200':
          $ref: '#/components/responses/report-project-with-task-breakdown'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /report/user/{userId}/project:
    get:
      summary: Get user report with project breakdown
      description: |
        Retrieves a time tracking report for a specific user, including a project-level breakdown with all associated tasks and time tracked within each. Useful for reviewing a user's activity across multiple projects over a given time range.
      operationId: getUserReport
      security:
        - bearerAuth: []
      tags:
        - Report
      parameters:
        - $ref: '#/components/parameters/user-id'
        - $ref: '#/components/parameters/start-date'
        - $ref: '#/components/parameters/end-date'
      responses:
        '200':
          $ref: '#/components/responses/report-user-with-project-breakdown'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /task/{taskId}/clockin:
    post:
      summary: Clock in using a task ID
      description: Starts time tracking for task ID
      tags:
        - Task
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/task-id'
      responses:
        '200':
          $ref: '#/components/responses/timetrack-clockin-200'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /task/{taskId}/clockout:
    post:
      summary: Clock out using a task ID
      description: Ends time tracking for task ID.
      security:
        - bearerAuth: []
      tags:
        - Task
      parameters:
        - $ref: '#/components/parameters/task-id'
      responses:
        '200':
          $ref: '#/components/responses/timetrack-clockout-200'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /task/clockin/by-name/{name}:
    post:
      summary: Clock in using task name
      description: Starts time tracking using task name. If tasks does not exist, it gets created first
      security:
        - bearerAuth: []
      tags:
        - Task
      parameters:
        - $ref: '#/components/parameters/task-name'
      responses:
        '200':
          $ref: '#/components/responses/timetrack-clockin-name-200'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /task/clockin/by-external-id/{externalId}:
    post:
      summary: Clock in using external ID
      description: Starts time tracking using external ID. This ID typically comes from an integrated third-party project management system such as Jira, Trello, Asana, or GitHub. If tasks does not exists, it gets created first
      security:
        - bearerAuth: []
      tags:
        - Task
      parameters:
        - $ref: '#/components/parameters/task-externalid'
      responses:
        '200':
          $ref: '#/components/responses/timetrack-clockin-externalid-200'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /task/{taskId}/tracks:
    get:
      summary: Get all time tracks under task ID
      description: |
        Retrieves all time tracking entries associated with the specified task.
        Useful for reporting, auditing, or displaying time spent on a specific task.
      operationId: getTracks
      security:
        - bearerAuth: []
      tags:
        - TimeTrack
      responses:
        '200':
          $ref: '#/components/responses/timetrack-list'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /task/{taskId}/track:
    post:
      summary: Create a new time track under task ID
      description: |
        Starts a new time tracking entry for the specified task.
        Records the start time and, optionally, the end time if provided.
      operationId: createTimeTrack
      security:
        - bearerAuth: []
      tags:
        - TimeTrack
      requestBody:
        $ref: '#/components/requestBodies/timetrack-create'
      responses:
        '201':
          $ref: '#/components/responses/timetrack-created'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /task/{taskId}track/{trackId}:
    get:
      summary: Get a time track under task ID
      description: |
        Retrieves a specific time tracking entry associated with the given task ID and time track ID.
        Useful for viewing detailed time tracking information for a single entry.
      operationId: getTimeTrack
      security:
        - bearerAuth: []
      tags:
        - TimeTrack
      parameters:
        - $ref: '#/components/parameters/task-id'
        - $ref: '#/components/parameters/timetrack-id'
      responses:
        '200':
          $ref: '#/components/responses/timetrack-get'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
    put:
      summary: Update a time track under task ID
      description: |
        Modifies an existing time tracking entry associated with the specified task.
        Typically used to set or adjust the end time, duration, or correct tracking errors.
      operationId: updateTimeTrack
      security:
        - bearerAuth: []
      tags:
        - TimeTrack
      parameters:
        - $ref: '#/components/parameters/task-id'
        - $ref: '#/components/parameters/timetrack-id'
      requestBody:
        $ref: '#/components/requestBodies/timetrack-update'
      responses:
        '200':
          $ref: '#/components/responses/timetrack-updated'
        '404':
          description: TimeTrack not found
    delete:
      summary: Delete a time track under task ID
      description: |
        Permanently removes a specific time tracking entry associated with the given task.
        This action cannot be und
      operationId: deleteTimeTrack
      security:
        - bearerAuth: []
      tags:
        - TimeTrack
      parameters:
        - $ref: '#/components/parameters/task-id'
        - $ref: '#/components/parameters/timetrack-id'
      responses:
        '204':
          $ref: '#/components/responses/item-deleted'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /timetracks/count:
    get:
      summary: Get time track count
      description: Returns the total number of time tracks in your organisation.
      operationId: getTimeTrackCount
      security:
        - bearerAuth: []
      tags:
        - TimeTrack
      responses:
        '200':
          $ref: '#/components/responses/timetrack-count'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /invitations:
    get:
      summary: Get all invitations
      description: Retrieves all invitations under your organisation
      operationId: getInvitations
      security:
        - bearerAuth: []
      tags:
        - Invitation
      responses:
        '200':
          $ref: '#/components/responses/invitation-list'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /invitations/count:
    get:
      summary: Get invitation count
      description: Returns the total number of invitations in your organisation.
      operationId: getInvitationCount
      security:
        - bearerAuth: []
      tags:
        - Invitation
      responses:
        '200':
          $ref: '#/components/responses/invitation-count'
        '401':
          $ref: '#/components/responses/unauthorized'
        '500':
          $ref: '#/components/responses/server-error'
  /invitation:
    post:
      summary: Create a new invitation for user signup
      description: |
        Creates a new invitation for a user to join the organisation.
        The invitation includes a one-time signup link that expires after 1 day.
      operationId: createInvitation
      security:
        - bearerAuth: []
      tags:
        - Invitation
      requestBody:
        $ref: '#/components/requestBodies/invitation-create'
      responses:
        '201':
          $ref: '#/components/responses/invitation-created'
        '400':
          $ref: '#/components/responses/bad-request'
        '500':
          $ref: '#/components/responses/server-error'
  /invitation/{invId}:
    get:
      summary: Get an invitation by ID
      description: |
        Retrieves an invitation by its ID, including the email and expiration details.
        Typically used to validate and display invitation information before signup.
      operationId: getInvitation
      security:
        - bearerAuth: []
      tags:
        - Invitation
      parameters:
        - $ref: '#/components/parameters/invitation-id'
      responses:
        '200':
          $ref: '#/components/responses/invitation'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
    delete:
      summary: Delete an invitation
      description: |
        Deletes a pending invitation by its ID. This operation is typically used to revoke access before the invitation is accepted. Only valid for invitations that have not yet been used or expired.
      tags:
        - Invitation
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/invitation-id'
      responses:
        '204':
          $ref: '#/components/responses/item-deleted'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /invitation/{invId}/signup:
    post:
      summary: Signup a user using an invitation
      description: |
        Completes the signup process for an invited user using a one-time invitation link.
        Creates the user account and removes the invitation if it is valid and not expired.
      operationId: signupInvitation
      security:
        - bearerAuth: []
      tags:
        - Account
      requestBody:
        $ref: '#/components/requestBodies/user-create'
      responses:
        '201':
          $ref: '#/components/responses/user-created'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
  /org/{orgId}:
    get:
      summary: Get organisation by ID
      description: Retrieves an organisation by its ID.
      operationId: getOrgById
      security:
        - bearerAuth: []
      tags:
        - Organisation
      parameters:
        - $ref: '#/components/parameters/org-id'
      responses:
        '200':
          $ref: '#/components/responses/org'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
    put:
      summary: Update organisation by ID
      operationId: updateOrganisation
      description: Updates an organisation's details.
      security:
        - bearerAuth: []
      tags:
        - Organisation
      parameters:
        - $ref: '#/components/parameters/org-id'
      requestBody:
        $ref: '#/components/requestBodies/org-update'
      responses:
        '200':
          $ref: '#/components/responses/org-updated'
        '400':
          $ref: '#/components/responses/bad-request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
    delete:
      summary: Delete organisation by ID
      description: Deletes an organisation by its ID.
      operationId: deleteOrganisation
      security:
        - bearerAuth: []
      tags:
        - Organisation
      parameters:
        - $ref: '#/components/parameters/org-id'
      responses:
        '204':
          $ref: '#/components/responses/item-deleted'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not-found'
        '500':
          $ref: '#/components/responses/server-error'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    SignupParam:
      type: object
      properties:
        email:
          type: string
          format: email
          description: The email of the user to signup
        firstName:
          type: string
          format: email
          description: The first name of the user to signup
        lastName:
          type: string
          format: email
          description: The last name the user to signup
        password:
          type: string
          description: The password of the user
        orgName:
          type: string
          description: The name of the organisation the users belong to
        required:
          - email
          - password
          - firstName
          - lastName
          - orgName
    User:
      type: object
      properties:
        id:
          type: string
          example: Q2fspaa93Ad
        firstName:
          type: string
          example: Doug
        lastName:
          type: string
          example: John
        email:
          type: string
          format: email
          example: john.doe@example.com
        role:
          type: string
          example: member
        createdAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
        updatedAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
    Organisation:
      type: object
      properties:
        id:
          type: string
          example: Os2fe92ja9EA
        name:
          type: string
          example: Visidra
        decription:
          type: string
          description: Optional general description of the organisation.
        email:
          type: string
          format: email
          nullable: false
          description: |
            Optional contact email for the organisation. Used for general communication or administrative purposes.
            example: "contact@visidra.com"
        createdAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
        updatedAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
    Signup:
      type: object
      properties:
        message:
          type: string
          example: User and organisation registered successfully
          description: Organisation and admin user created successfully
        user:
          $ref: '#/components/schemas/User'
        org:
          $ref: '#/components/schemas/Organisation'
    LoginParam:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: user@visidra.com
        password:
          type: string
          format: password
          example: password123
    Login:
      type: object
      properties:
        accessToken:
          type: string
          example: q224EM8d...
        refreshToken:
          type: string
          example: ia3af99...
        expiresIn:
          type: integer
          format: int64
          example: 1714586400000
    Message:
      type: object
      properties:
        message:
          type: string
          description: Response message
          example: Response message
    RefreshParam:
      type: object
      properties:
        refreshToken:
          type: string
          example: eyJhbGciOi...
      required:
        - refreshToken
    ApiKeyLoginParam:
      type: object
      required:
        - apiKey
      properties:
        apiKey:
          type: string
          format: key
          example: k4t43m1d... (secret)
    Session:
      type: object
      properties:
        id:
          type: string
          example: 9vjaæ38f9w
        userId:
          type: string
          example: 9vjaæ38f9w
        sessionStartedAt:
          type: integer
          format: int64
          example: 1714500000000
        expiresAt:
          type: integer
          format: int64
          example: 1714586400000
        userAgent:
          type: string
          example: Mozilla/5.0
    ApiKey:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        last4:
          type: string
        lastUsedAt:
          type: integer
          format: int64
        createdAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
        updatedAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
      required:
        - id
        - name
        - last4
        - createdAt
    Users:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/User'
        lastKey:
          type: string
          nullable: true
          description: Token to fetch the next page of results
      required:
        - items
    item-count:
      ItemCount:
        type: object
        properties:
          count:
            type: integer
            example: 29
    UserCreateParam:
      type: object
      required:
        - username
        - email
        - password
        - role
      properties:
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        email:
          type: string
          format: email
          example: john.doe@example.com
        role:
          type: string
          enum:
            - member
            - admin
          example: member
          description: The user's role within the organization.
    UserUpdateParam:
      type: object
      properties:
        firstName:
          type: string
          example: Doug
        lastName:
          type: string
          example: John
        email:
          type: string
          format: email
          example: john.doe@example.com
    UserUpdatePasswordParam:
      type: object
      required:
        - password
      properties:
        password:
          type: string
          format: password
          minLength: 12
          description: The new password the user wants to set.
    PasswordUpdated:
      type: object
      properties:
        message:
          type: string
          example: Password updated successfully
          description: Password updated successfully
    UserPasswordResetParam:
      type: object
      required:
        - expiresAt
      properties:
        expiresAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
    PasswordReset:
      type: object
      properties:
        message:
          type: string
          example: Password reset scheduled
          description: Password reset scheduled successfully
        expiresAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Confirms the requested time for reset in UNIX milliseconds
    ApiKeyCreateParam:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: Name of the new api key
    api-key:
      ApiKey:
        type: object
        properties:
          id:
            type: string
          name:
            type: string
          last4:
            type: string
          lastUsedAt:
            type: integer
            format: int64
          createdAt:
            type: integer
            format: int64
            example: 1712100000000
            description: Start time of the time track in UNIX milliseconds
          updatedAt:
            type: integer
            format: int64
            example: 1712100000000
            description: Start time of the time track in UNIX milliseconds
        required:
          - id
          - name
          - last4
          - createdAt
    Task:
      type: object
      properties:
        id:
          type: string
          example: 398fa3ov3
        userId:
          type: string
          example: Q2fspaa93Ad
        name:
          type: string
          example: New website design
        description:
          type: string
          example: Create a new homepage using React
        status:
          type: string
          enum:
            - open
            - tracking
          example: open
          description: The status shows stask activity
        projectId:
          type: string
          readOnly: true
          nullable: false
          description: |
            The ID of the project this task belongs to, if any. Omitted when the task is not assigned to a project.
        createdAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
        updatedAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
    Tasks:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        lastKey:
          type: string
          nullable: true
          description: Token to fetch the next page of results
      required:
        - items
    TaskCreateParam:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: New website design
        description:
          type: string
          example: Create a new homepage using React
    TaskUpdateParam:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          example: New website design
        description:
          type: string
          example: Create a new homepage using React
    UserOverview:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        total:
          type: integer
          description: Total time tracked by the user in milliseconds
        totalFormatted:
          type: string
          example: 1h 35m 5s
          description: Human-readable version of the tracked duration, derived from the total field.
        projectsInvolved:
          type: integer
          description: Number of projects the user has contributed to
        lastSessionAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
      required:
        - id
        - email
        - firstName
        - lastName
        - total
        - totalFormatted
        - projectsInvolved
        - lastSessionAt
    overview-user-list:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UserOverview'
        lastKey:
          type: string
          nullable: true
          description: Token to fetch the next page of results
      required:
        - items
    Project:
      type: object
      properties:
        id:
          type: string
          example: E9a9f9f93Aq
        userId:
          type: string
          example: Q2fspaa93Ad
        name:
          type: string
          example: New e-commerce system
        description:
          type: string
          example: Few months with NestJS and Vue
          description: Optional field for detailed description
        externalId:
          type: string
          example: JIRA-102
          description: Optional external reference id
        createdAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
        updatedAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
    TaskOverview:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        projectId:
          type: string
        project:
          $ref: '#/components/schemas/Project'
        total:
          type: integer
          description: Total time tracked for this task in milliseconds
        totalFormatted:
          type: string
          example: 1h 35m 5s
          description: Human-readable version of the tracked duration, derived from the total field.
        entryCount:
          type: integer
          description: Number of time tracking records
        userCount:
          type: integer
          description: Number of users who contributed time to this task
        firstEntry:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
        lastEntry:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
      required:
        - id
        - name
        - projectId
        - total
        - entryCount
        - userCount
        - firstEntry
        - lastEntry
    overview-task-list:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TaskOverview'
        lastKey:
          type: string
          nullable: true
          description: Token to fetch the next page of results
      required:
        - items
    ProjectOverview:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        externalId:
          type: string
        total:
          type: number
        totalFormatted:
          type: string
          example: 1h 35m 5s
          description: Human-readable version of the tracked duration, derived from the total field.
        taskCount:
          type: integer
          description: Number of tasks in this project
        userCount:
          type: integer
          description: Number of users who contributed to this project
        firstEntry:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
        lastEntry:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
      required:
        - id
        - name
        - externalId
        - total
        - totalformatted
        - taskCount
        - userCount
        - firstEntry
        - lastEntry
    overview-project-list:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProjectOverview'
        lastKey:
          type: string
          nullable: true
          description: Token to fetch the next page of results
      required:
        - items
    Projects:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        lastKey:
          type: string
          nullable: true
          description: Token to fetch the next page of results
      required:
        - items
    ItemCount:
      type: object
      properties:
        count:
          type: integer
          example: 29
    ProjectCreateParam:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: New e-commerce system
        description:
          type: string
          example: Few months with NestJS and Vue
        externalId:
          type: string
          example: JIRA-102
    ProjectUpdateParam:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          example: New e-commerce system
        description:
          type: string
          example: Few months with NestJS and Vue
    TaskMoveParam:
      type: object
      required:
        - projectId
      properties:
        projectId:
          type: string
          example: I9a2f9f13Aq
    MetricsTimeTotal:
      type: object
      properties:
        total:
          type: integer
          format: int64
          description: Total time tracked in milliseconds
          example: 28800000
        range:
          type: object
          description: Time window the metric covers
          properties:
            start:
              type: integer
              format: int64
              example: 1747411200000
              description: Start of the time window in UNIX milliseconds
            end:
              type: integer
              format: int64
              example: 1747497599999
              description: End of the time window in UNIX milliseconds
            label:
              type: string
              example: 'Today, 2 Weeks ago, 4 Month ago '
              description: Human-readable label for the time window
      required:
        - total
    MetricsGroupedTotal:
      type: object
      required:
        - day
        - total
      properties:
        date:
          type: string
          format: date
          example: '2025-05-12'
        total:
          type: integer
          description: Time tracked in milliseconds
          example: 7200000
    UserActivity:
      type: object
      properties:
        userId:
          type: string
        name:
          type: string
        total:
          type: integer
      required:
        - userId
        - name
        - total
    TaskActivity:
      type: object
      properties:
        taskId:
          type: string
        name:
          type: string
        total:
          type: integer
      required:
        - taskId
        - name
        - total
    ProjectActivity:
      type: object
      properties:
        projectId:
          type: string
        name:
          type: string
        total:
          type: integer
      required:
        - projectId
        - name
        - total
    TimeTrack:
      type: object
      properties:
        id:
          type: string
          example: 398fa3ov3
        taskId:
          type: string
          example: task789
        userId:
          type: string
          example: user456
        startTime:
          type: string
          format: date-time
          example: '2025-04-22T14:00:00Z'
          description: Human-readable ISO 8601 version of the start timestamp (UNIX ms).
        endTime:
          type: string
          format: date-time
          example: '2025-04-22T15:30:00Z'
          description: Human-readable ISO 8601 version of the start timestamp (UNIX ms).
        start:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
        end:
          type: integer
          format: int64
          example: 1714580000000
          description: End time of the time track in UNIX milliseconds
        amount:
          type: integer
          format: int64
          example: 1714500000000
          description: Total tracked duration in milliseconds, calculated as the difference between end and start.
        timeFormatted:
          type: string
          example: 1h 35m 5s
          description: Human-readable version of the tracked duration, derived from the amount field.
        createdAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
        updatedAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
    TaskWithTimeTracks:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: New website design
        description:
          type: string
          example: Create a new homepage using React
        totalFormatted:
          type: string
          description: Human-readable formatted time string, e.g. "4h 10m 10s"
          example: 4h 10m 10s
        total:
          type: integer
          format: int64
          example: 1712100000000
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/TimeTrack'
    UserBreakdown:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        total:
          type: integer
          description: Time tracked by this user (in milliseconds)
        totalFormatted:
          type: string
          description: Human-readable formatted time string
      required:
        - id
        - firstName
        - lastName
        - total
        - totalFormatted
    TaskWithUserBreakdown:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: New website design
        description:
          type: string
          example: Create a new homepage using React
        totalFormatted:
          type: string
          description: Human-readable formatted time string, e.g. "4h 10m 10s"
          example: 4h 10m 10s
        total:
          type: integer
          format: int64
          example: 1712100000000
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserBreakdown'
    ProjectWithUserBreakdown:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        total:
          type: integer
          description: Total time in milliseconds
        totalFormatted:
          type: string
          description: Human-readable formatted time string, e.g. "4h 10m 10s"
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserBreakdown'
      required:
        - id
        - name
        - total
        - totalFormatted
        - users
    TaskBreakdown:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        total:
          type: integer
          description: Time tracked by this user (in milliseconds)
        totalFormatted:
          type: string
          description: Human-readable formatted time string
      required:
        - id
        - name
        - total
        - totalFormatted
    ProjectWithTaskBreakdown:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        total:
          type: integer
          description: Total time in milliseconds
        totalFormatted:
          type: string
          description: Human-readable formatted time string, e.g. "4h 10m 10s"
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/TaskBreakdown'
      required:
        - id
        - name
        - total
        - totalFormatted
        - tasks
    UserWithProjectBreakdown:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        firstName:
          type: string
        lasttName:
          type: string
        total:
          type: integer
          description: Total time tracked in milliseconds
        totalFormatted:
          type: string
          description: Human-readable formatted time string, e.g. "4h 30m 00s"
        projects:
          type: array
          description: Time tracked per project
          items:
            $ref: '#/components/schemas/UserBreakdown'
      required:
        - id
        - email
        - firstName
        - lastName
        - total
        - totalFormatted
        - projects
    TimeTracks:
      type: array
      items:
        $ref: '#/components/schemas/TimeTrack'
    TimeTrackCreateParam:
      type: object
      properties:
        start:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds (UTC)
        end:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds (UTC)
      required:
        - start
    TimeTrackUpdateParam:
      type: object
      properties:
        start:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds (UTC)
        end:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds (UTC)
      required:
        - start
    Invitation:
      type: object
      properties:
        id:
          type: string
          example: QEFf93fjap
        email:
          type: string
          format: email
          example: john.doe@example.com
        expiresAt:
          type: string
          format: date-time
          example: '2025-04-22T10:00:00Z'
        createdAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
        updatedAt:
          type: integer
          format: int64
          example: 1712100000000
          description: Start time of the time track in UNIX milliseconds
    InvitationCreateParam:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          description: The email of the user being invited.
          example: john.doe@example.com
    OrganisationUpdateParam:
      type: object
      properties:
        name:
          type: string
          example: Visidra Updated
        email:
          type: string
          format: email
          example: contact.updated@visidra.com
        description:
          type: string
          example: 456 New Address Rd, Tech City
  requestBodies:
    signup-request:
      description: Signup required field
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SignupParam'
    login:
      description: Login credentials (email and password)
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LoginParam'
    refresh:
      description: Refresh token
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RefreshParam'
    api-key-login:
      description: Login with API key
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiKeyLoginParam'
    user-create:
      description: User object that needs to be created
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserCreateParam'
    user-update:
      description: User object that needs to be updated
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserUpdateParam'
    user-update-password:
      description: Object that updates password
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserUpdatePasswordParam'
    user-reset-password:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserPasswordResetParam'
    api-key-create:
      description: Name for the new API key
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiKeyCreateParam'
    task-create:
      description: Task object that needs to be created
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskCreateParam'
    task-update:
      description: Task object that needs to be updated
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskUpdateParam'
    project-create:
      description: Project object that needs to be created
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProjectCreateParam'
    project-update:
      description: Project object that needs to be updated
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProjectUpdateParam'
    project-move-task:
      description: Object containing task move information
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskMoveParam'
    timetrack-create:
      description: Create a new time track entry
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TimeTrackCreateParam'
    timetrack-update:
      description: Update exiting time track entry
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TimeTrackUpdateParam'
    invitation-create:
      description: Invitation object that needs to be created
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InvitationCreateParam'
    org-update:
      description: Organisation object that needs to be updated
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrganisationUpdateParam'
  responses:
    signup-201:
      description: Successfully registered user and organisation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Signup'
    signup-400:
      description: Bad request (e.g., invalid input)
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Missing required fields or invalid password
              details:
                type: array
                items:
                  type: string
                description: Optional list of validation issues
                example:
                  - Must include one uppercase letter
                  - Must include one lowercase letter
                  - Must include one number
    signup-409:
      description: Conflict (e.g., email or organisation already exists)
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                description: Organisation already exists
    login-200:
      description: Successfully logged in and returned a JWT token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Login'
    bad-request:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Message'
    unauthorized:
      description: Unauthorized attempt
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Message'
    server-error:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Message'
    refresh-200:
      description: Successfully refreshed JWT tokens
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Login'
    refresh-401:
      description: Unauthorized attempt due to invalid token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Message'
    session-list:
      description: List of all Sessions
      type: object
      content:
        application/json:
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
              lastKey:
                type: string
                nullable: true
                description: Base64-encoded cursor for pagination. Omit if no more results.
    session-401:
      description: Unauthorized attempt
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Message'
    api-key-list:
      description: List of all API keys
      type: object
      content:
        application/json:
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
              lastKey:
                type: string
                nullable: true
                description: Base64-encoded cursor for pagination. Omit if no more results.
    user-list:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Users'
    user-count:
      description: Successfully fetched user count
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/item-count'
    user-created:
      description: Successfully created User
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'
    user-200:
      description: A single User object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'
    not-found:
      description: Item not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Message'
    user-updated:
      description: Successfully updated User
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/User'
    item-deleted:
      description: Item deleted
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Message'
    user-password-updated:
      description: Password updated successfully
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PasswordUpdated'
    forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Message'
    password-reset-success:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PasswordReset'
    api-key-created:
      description: API key successfully created
      content:
        application/json:
          schema:
            type: object
            properties:
              apiKey:
                type: string
                example: k4t43m1d... (secret)
                description: The plain-text API key. Shown only once.
              message:
                type: string
                example: API key created. Store it securely — it will not be shown again.
              info:
                $ref: '#/components/schemas/api-key'
    api-key:
      description: A single Api Key object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiKey'
    api-key-renewed:
      description: Successfully renews api key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiKey'
    task-list:
      description: List of all Tasks
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Tasks'
    task-count:
      description: Successfully fetched task count
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/item-count'
    task-created:
      description: Successfully created Task
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Task'
    task:
      description: A single Task object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Task'
    task-updated:
      description: Successfully updated Task
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Task'
    users-overview-200:
      description: A list of user summaries with pagination support
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/overview-user-list'
    tasks-overview-200:
      description: A list of task summaries with pagination support
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/overview-task-list'
    projects-overview-200:
      description: A list of project summaries with pagination support
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/overview-project-list'
    project-list:
      description: List of all Projects
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Projects'
    project-count:
      description: Successfully fetched project count
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ItemCount'
    project-created:
      description: Successfully created Project
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Project'
    project:
      description: A single Project object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Project'
    project-updated:
      description: Successfully updated Project
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Project'
    metrics-time-total-day-200:
      description: Total tracked time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MetricsTimeTotal'
    metrics-time-total-week-200:
      description: Total tracked time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MetricsTimeTotal'
    metrics-time-total-month-200:
      description: Total tracked time in milliseconds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MetricsTimeTotal'
    metrics-time-grouped-week-200:
      description: Daily totals for the given week
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MetricsGroupedTotal'
    metrics-time-grouped-month-200:
      description: Daily totals for the given month
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/MetricsGroupedTotal'
    metrics-top-activity-200:
      description: Top users, tasks, and projects ranked by total time tracked
      content:
        application/json:
          schema:
            type: object
            properties:
              users:
                type: array
                items:
                  $ref: '#/components/schemas/UserActivity'
              tasks:
                type: array
                items:
                  $ref: '#/components/schemas/TaskActivity'
              projects:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectActivity'
            required:
              - topUsers
              - topTasks
              - topProjects
    report-task-timetrack:
      description: Successful Task Report
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskWithTimeTracks'
    report-task-with-user-breakdown:
      description: Successful task report with user breakdown
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TaskWithUserBreakdown'
    report-project-with-user-breakdown:
      description: Successful Project Report
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProjectWithUserBreakdown'
    report-project-with-task-breakdown:
      description: Successful Project Report
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProjectWithTaskBreakdown'
    report-user-with-project-breakdown:
      description: Successful Project Report
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserWithProjectBreakdown'
    timetrack-clockin-200:
      description: Successfully clocked in
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TimeTrack'
    timetrack-clockout-200:
      description: Successfully clocked out
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TimeTrack'
    timetrack-clockin-name-200:
      description: Successfully clocked in using task name
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TimeTrack'
    timetrack-clockin-externalid-200:
      description: Successfully clocked in using reference ID
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TimeTrack'
    timetrack-list:
      description: A list of TimeTrack entries
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TimeTracks'
    timetrack-created:
      description: Successfully created TimeTrack
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TimeTrack'
    timetrack-get:
      description: Successfully fetched TimeTrack
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TimeTrack'
    timetrack-updated:
      description: Successfully updated TimeTrack
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TimeTrack'
    timetrack-count:
      description: Successfully fetched time track count
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/item-count'
    invitation-list:
      description: List of all invitations
      type: object
      content:
        application/json:
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/Invitation'
              lastKey:
                type: string
                nullable: true
                description: Base64-encoded cursor for pagination. Omit if no more results.
    invitation-count:
      description: Successfully fetched user count
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ItemCount'
    invitation-created:
      description: Successfully created invitation
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Invitation successfully created
              signupLink:
                type: string
                format: uri
                example: https://timetracks-api.visidra.com/api/v1/invitation/QEFf93fjap/signup
              invitation:
                $ref: '#/components/schemas/Invitation'
    invitation:
      description: A single Invitation object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Invitation'
    org:
      description: A single Organisation object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Organisation'
    org-updated:
      description: Successfully updated Organisation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Organisation'
  parameters:
    user-id:
      name: userId
      in: path
      required: true
      description: The ID of the user
      schema:
        type: string
    api-key-id:
      name: apiKeyId
      in: path
      required: true
      description: The ID of the api key
      schema:
        type: string
    task-id:
      name: taskId
      in: path
      required: true
      description: The ID of the task
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Maximum number of users to include in the summary.
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    last-key:
      name: lastKey
      in: query
      description: Pagination token to fetch the next set of results.
      required: false
      schema:
        type: string
    project-id:
      name: projectId
      in: path
      required: true
      description: ID of the Project
      schema:
        type: string
    metrics-index-day:
      name: index
      in: path
      required: true
      schema:
        type: integer
        minimum: 0
      description: |
        Number of days ago to query. Use `0` for today, `1` for yesterday, etc.
    metrics-index-week:
      name: index
      in: path
      required: true
      schema:
        type: integer
        minimum: 0
      description: |
        Number of weeks ago to query. Use `1` for the current week, `2` for the previous week, `3` for two weeks ago, etc.
    metrics-index-month:
      name: index
      in: path
      required: true
      schema:
        type: integer
        minimum: 0
      description: |
        Number of months ago to query. Use `1` for the current month, `2` for the previous month, `3` for two months ago, etc.
    start-date:
      name: startDate
      in: query
      description: |
        Start of the time range (inclusive), in UNIX milliseconds.
        The range between startDate and endDate must not exceed 7 days.
      required: false
      schema:
        type: integer
        example: 1714521600000
    end-date:
      name: endDate
      in: query
      description: |
        End of the time range (inclusive), in UNIX milliseconds.
        The range between startDate and endDate must not exceed 7 days.
      required: false
      schema:
        type: integer
        example: 1715039999999
    task-name:
      name: name
      in: path
      required: true
      description: Name of the task to clock in
      schema:
        type: string
        example: Write API Documentation
    task-externalid:
      name: externalid
      in: path
      required: true
      description: The external ID of the task to clock in
      schema:
        type: string
        example: JIRA-492
    timetrack-id:
      name: trackId
      in: path
      required: true
      description: The ID of the TimeTrack
      schema:
        type: string
    invitation-id:
      name: invId
      in: path
      required: true
      description: The unique ID of the invitation
      schema:
        type: string
        example: QEFf93fjap
    org-id:
      name: orgId
      in: path
      required: true
      description: The ID of the organisation
      schema:
        type: string
        example: Os2fe92ja9EA
